<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tongDe</title>
    <link rel="stylesheet" vite-href="~/main.js" asp-append-version="true" />
</head>

<body>
    <nav>
        <a asp-area="" asp-controller="Home" asp-action="Index">tongDe</a>
        <a asp-area="" asp-controller="Home" asp-action="Create">shop</a>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="module" vite-src="~/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
