@model tongDe.Models.ViewModels.ItemCategoryEditVM
@{
    ViewData["Title"] = "Edit";
}

<form class="max-w-sm mx-auto" method="post" asp-controller="ItemCategory" asp-action="Edit" asp-antiforgery="true">
    <input type="hidden" asp-for="Id">
    <div class="mb-5">
        <label for="Name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white after:content-['*'] after:ml-0.5 after:text-red-500">Name</label>
        <input type="text" asp-for="Name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required />
        <span asp-validation-for="Name" class="text-red-600"></span>
    </div>

    <div class='items-center justify-between hidden lg:flex'>
        <a asp-controller="Shop" asp-action="ItemCategories" asp-route-id="@Model.ShopId"
            class="block text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            <i class="fa-solid fa-arrow-left"></i>
        </a>

        <button type="submit" class="blue-700-button">Edit</button>
    </div>

    <div class='fixed bottom-0 left-0 z-10 w-full px-4 py-2 rounded-t-lg bg-gray-50 dark:bg-gray-900 lg:hidden'>
        <div class='flex items-center justify-between max-w-sm mx-auto'>
            <a asp-controller="Shop" asp-action="ItemCategories" asp-route-id="@Model.ShopId"
                class="block text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
                <i class="fa-solid fa-arrow-left"></i>
            </a>

            <button type="submit" class="blue-700-button">Edit</button>
        </div>
    </div>
</form>