@model tongDe.Models.ViewModels.ClientCreateVM
@{
    ViewData["Title"] = "Create Clent";
}

<form class="max-w-sm mx-auto" asp-controller="Client" asp-action="Create" asp-route-ShopId="@Model.ShopId"
    method="post" asp-antiforgery="true">

    <div asp-validation-summary="All" class="text-red-500"></div>

    <div class="mb-5">
        <label for="Name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white after:content-['*'] after:ml-0.5 after:text-red-500">Name</label>
        <input type="text" asp-for="Name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required />
        <span asp-validation-for="Name" class="text-red-600"></span>
    </div>

    <div class="mb-5">
        <label for="Phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Phone</label>
        <input type="text" asp-for="Phone"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            pattern="^09\d{8}$" placeholder="0912122122" />
        <span asp-validation-for="Phone" class="text-red-600"></span>
    </div>

    <div class="mb-5">
        <label for="LineId" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">LineId</label>
        <input type="text" asp-for="LineId"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>

    <button type="submit"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create</button>
</form>