@model tongDe.Models.ViewModels.ItemEditVM
@{
    ViewData["Title"] = "Edit";
}
<form class="max-w-sm mx-auto" asp-controller="Item" asp-action="Edit" method="post" asp-antiforgery="true">
    <input type="hidden" asp-for="ShopId">
    <div class='flex items-center justify-between mb-4'>
        <div>
            <label for="Name"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white after:content-['*'] after:ml-0.5 after:text-red-500">Name</label>
            <div class='flex items-center'>
                <input type="text" asp-for="Name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mr-2"
                    required />
                <i class="h-5 fa-solid fa-chevron-right a-text"></i>
            </div>
            <span asp-validation-for="Name" class="text-red-600"></span>
        </div>
        <div>
            <label for="PinyIn" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">PinyIn</label>
            <input type="text" asp-for="PinyIn"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        </div>
    </div>

    <div class="mb-5">
        <label for="Unit"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white after:content-['*'] after:ml-0.5 after:text-red-500">Unit</label>
        <input type="text" asp-for="Unit"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required />
        <span asp-validation-for="Unit" class="text-red-600"></span>
    </div>

    <div class='flex items-center justify-between'>
        <a asp-controller="Shop" asp-action="Index" asp-route-id="@Model.ShopId"
            class="block text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">
            <i class="fa-solid fa-arrow-left"></i>
        </a>

        <button type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Update</button>
    </div>
</form>