@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<div>
    <div class='max-w-sm m-auto mb-3 border-b'>
        <h1 class=' text-title-1'>Manage your account</h1>
        <h2 class='mb-3 text-title-1-thin'>Change your account settings</h2>
    </div>

    <partial name="_ManageNav" />
    @RenderBody()
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
