@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    @* ViewData["ActivePage"] = ManageNavPages.ChangePassword; *@
}
<partial name="_StatusMessage" for="StatusMessage" />
<div
    class='max-w-sm m-auto bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-gray-800 dark:border-gray-700'>
    <div class="max-w-sm p-6 m-auto space-y-4 md:space-y-6 sm:p-8">
        <h1 class='mb-3 text-title-1'>
            @ViewData["Title"]
        </h1>
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>
            <div class="mb-5">
                <label asp-for="Input.OldPassword" class="block mb-2 text-sm font-medium text"></label>
                <input asp-for="Input.OldPassword" class="w-full input-blue" autocomplete="current-password"
                    aria-required="true" placeholder="Please enter your old password." />
                <span asp-validation-for="Input.OldPassword" class="text-red-500"></span>
            </div>
            <div class="mb-5">
                <label asp-for="Input.NewPassword" class="block mb-2 text-sm font-medium text"></label>
                <input asp-for="Input.NewPassword" class="w-full input-blue" autocomplete="new-password"
                    aria-required="true" placeholder="Please enter your new password." />
                <span asp-validation-for="Input.NewPassword" class="text-red-500"></span>
            </div>
            <div class="mb-5">
                <label asp-for="Input.ConfirmPassword" class="block mb-2 text-sm font-medium text"></label>
                <input asp-for="Input.ConfirmPassword" class="w-full input-blue" autocomplete="new-password"
                    aria-required="true" placeholder="Please confirm your new password." />
                <span asp-validation-for="Input.ConfirmPassword" class="text-red-500"></span>
            </div>
            <button type="submit" class="blue-700-button">Update password</button>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
