@model tongDe.Models.ViewModels.ShopEditVM
@{
    ViewData["Title"] = "Edit";
}

<form class="max-w-sm mx-auto" asp-controller="Shop" asp-action="Edit" method="post" asp-antiforgery="true">
    @Html.ValidationSummary()

    <div class="mb-5">
        <label for="Name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white after:content-['*'] after:ml-0.5 after:text-red-500">Shop
            Name</label>
        <input type="text" asp-for="Name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required />
    </div>

    <button type="submit" class="blue-700-button">Update</button>
</form>