@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div
    class="max-w-sm m-auto bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-gray-800 dark:border-gray-700">
    <div class="max-w-sm p-6 m-auto space-y-4 md:space-y-6 sm:p-8">
        <h1 class='mb-3 text-title-1'>@ViewData["Title"]</h1>
        <p class="text">
            Please check your email to reset your password.
        </p>
    </div>
</div>
