@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div
    class="max-w-sm m-auto bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-gray-800 dark:border-gray-700">
    <div class="max-w-sm p-6 m-auto space-y-4 md:space-y-6 sm:p-8">

        <h1 class='mb-3 text-title-1'>
            Create a new account
        </h1>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-red-500" role="alert"></div>
            <div class="mb-5">
                <label class="block mb-2 text-sm font-medium text" asp-for="Input.Email">Email</label>
                <input asp-for="Input.Email" class="w-full input-blue" autocomplete="username" aria-required="true"
                    placeholder="name@example.com" />
                <div>
                    <span asp-validation-for="Input.Email" class="text-text-500"></span>
                </div>
            </div>
            <div class="mb-5">
                <label asp-for="Input.Password" class="block mb-2 text-sm font-medium text">Password</label>
                <input asp-for="Input.Password" class="w-full input-blue" autocomplete="new-password"
                    aria-required="true" placeholder="password" />
                <div>
                    <span asp-validation-for="Input.Password" class="text-red-500"></span>
                </div>
            </div>
            <div class="mb-7">
                <label asp-for="Input.ConfirmPassword" class="block mb-2 text-sm font-medium text">Confirm
                    Password</label>
                <input asp-for="Input.ConfirmPassword" class="w-full input-blue" autocomplete="new-password"
                    aria-required="true" placeholder="password" />
                <div>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger" class='text-red-500'></span>
                </div>
            </div>
            <button id="registerSubmit" type="submit" class="blue-700-button">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
