@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    @* ViewData["ActivePage"] = ManageNavPages.Email; *@
}

<partial name="_StatusMessage" for="StatusMessage" />
<div
    class='max-w-sm m-auto bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-gray-800 dark:border-gray-700'>
    <div class="max-w-sm p-6 m-auto space-y-4 md:space-y-6 sm:p-8">
        <h1 class='mb-3 text-title-1'>
            @ViewData["Title"]
        </h1>
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-red-500" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="mb-5">
                    <label asp-for="Email" class='block mb-2 text-sm font-medium text'></label>
                    <input asp-for="Email" type="text" id="disabled-input" aria-label="disabled input"
                        class="mb-5 input-disable" disabled>
                    <div class="input-group-append">
                        <span class="h-100 input-group-text text-success font-weight-bold">✓</span>
                    </div>
                </div>
            }
            else
            {
                <div class="mb-5">
                    <label asp-for="Email" class="block mb-2 text-sm font-medium text"></label>

                    <input asp-for="Email" type="text" id="disabled-input" aria-label="disabled input"
                        class="mb-5 input-disable" disabled>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail"
                        class="blue-700-button">Send verification email</button>

                </div>
            }
            <div class="mb-5">
                <label asp-for="Input.NewEmail" class="block mb-2 text-sm font-medium text"></label>
                <input asp-for="Input.NewEmail" class="w-full input-blue" autocomplete="email" aria-required="true"
                    placeholder="Please enter new email." />
                <div>
                    <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                </div>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="blue-700-button">Change
                email</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
