@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    @* ViewData["ActivePage"] = ManageNavPages.Index; *@
}
<partial name="_StatusMessage" for="StatusMessage" />
<div
    class='max-w-sm m-auto bg-white rounded-lg shadow dark:border md:mt-0 xl:p-0 dark:bg-gray-800 dark:border-gray-700'>
    <div class="max-w-sm p-6 m-auto space-y-4 md:space-y-6 sm:p-8">
        <h1 class='mb-3 text-title-1'>
            @ViewData["Title"]
        </h1>
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="mb-5">
                <label asp-for="Username" class='block mb-2 text-sm font-medium text'></label>
                <input asp-for="Username" type="text" id="disabled-input" aria-label="disabled input"
                    class="mb-5 input-disable" disabled>
            </div>
            <div class="mb-5">
                <label asp-for="Input.PhoneNumber" class='block mb-2 text-sm font-medium text'></label>
                <input asp-for="Input.PhoneNumber" class="w-full input-blue"
                    placeholder="Please enter your phone number." />
                <span asp-validation-for="Input.PhoneNumber" class="text-text-500"></span>
            </div>
            <button id="update-profile-button" type="submit" class="blue-700-button">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
